venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.dist-info/
*.egg
*.whl
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.log
nosetests.xml
test-results/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Pylint
pylint-report.txt
pylint-output.txt

# Bandit security reports
bandit.log
bandit-output.html

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm
.idea/

# Rope project settings
.ropeproject/

# Python virtualenv
venv/